body {
    background: #f0f2f5;
}

.nav {
    height: 3.5em;
    border-radius: 0 !important;
}

.nav .item {
    position: relative;
}

.nav .item .border {
    display: inline-block;
    width: 50%;
    border: 1px solid white;
    position: absolute;
    left: 25%;
    bottom: 4px;
}

.footer.segment {
    padding: 3em 0;
    margin-top: 4em !important;
}

.tags a {
    margin-top: .7em !important;
}

.tag-segment h4 i, .article-segment h4 i {
    font-size: 1em !important;
}

.article-segment {
    margin-top: 2em !important;
}

.swiper-pagination-bullet-active {
    background: #00b5ad;
}

.article-segment a {
    color: black !important;
}

.article-segment a:hover {
    color: #4183c4 !important;
}

/*home*/
.banner .chevron {
    background-image: none;
    color: #999999;
}

.home .content {
    margin-top: 2em;
}

.home .lists .item .image {
    width: 18em !important;
}

/*articles*/
.articles .content {
    margin-top: 2em;
}

.articles .filter span {
    color: #00b5ad;
    font-size: 1.3em;
}
.articles .lists .item .image {
    width: 18em !important;
}

/*article-detail*/
.article-detail .main-content {
    margin-top: 2em;
}

.article-detail .date-segment {
    color: rgba(0, 0, 0, .6);
    font-size: .8em !important;
}

.article-detail .article-header {
    margin-top: 1em !important;
}

.article-detail .desc-segment {
    margin: 0 !important;
}

.article-detail .desc-segment .divider {
    margin-bottom: 0 !important;
}

.article-detail .content-segment {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.article-detail .url, .tag {
    margin-top: 1em;
    margin-bottom: 2em;
}

.article-detail .comment-btn {
    margin-top: 1em !important;
}

/*message*/
.message .main-content {
    margin-top: 2em;
}

.message .comment-btn {
    margin-top: 1em !important;
}

/*changelog*/
.change-log .main-content {
    margin-top: 2em;
}

/*login*/
.login {
    background-color: #00b5ad;
}

.login > .grid {
    height: 100%;
}

.login .column {
    max-width: 550px;
}

.login .bg-one {
    position: fixed;
    right: 0;
    top: 0;
}

.login .bg-two {
    position: fixed;
    left: 0;
    bottom: 0;
}

.login .ui.vertical.divider:after, .ui.vertical.divider:before {
    border-left: 1px solid #E5E5E5;
}

.login .divider {
    width: 30%;
    margin: auto !important;
    padding-bottom: 0;
}

.login .divider-or {
    left: 12% !important;
    color: #E5E5E5 !important;
    font-size: .8em !important;
}

.login .error-message {
    text-align: left;
}

.login .main-content {
    padding: 3em 2em !important;
}

.login .register-segment {
    color: #00b5ad;
    padding-bottom: 0 !important;
}

.login .forget-segment {
    font-size: .8em;
    padding: 0 !important;
}

.login .github-icon {
    font-size: 2em;
    color: #00b5ad;
}

/*about*/
.about .main-content {
    margin-top: 2em;
}

/*extra*/
.article-title{
    line-height: 1.3em;
    max-height: 2.6em;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.article-desc{
    line-height: 1.3em;
    height: 2.6em;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
